@model RegisterLoginApp_ASP_MVC.Models.User

<h2>Giriş Yap</h2>

<form asp-action="Login" method="post">
    <div>
        <label>Kullanıcı Adı</label>
        <input asp-for="Username" />
    </div>
    <div>
        <label>Şifre</label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Giriş Yap</button>
    @ViewBag.Message
</form>
