@using RegisterLoginApp_ASP_MVC.Models
@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div class="welcome-container">
        <h1>Hoş Geldiniz, @Model.Username!</h1>
        <p>Başarıyla giriş yaptınız.</p>
        <a href="/">Ana Sayfaya Git</a>
    </div>
</body>
</html>
